/* CSS Document */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
.header {
  position: relative;
  height: 100%;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video_overlay {
  background: url(../img/overlay.png) repeat;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.navbar-collapse {
  flex-grow: inherit;
}

.navbar {
  --bs-navbar-hover-color: #33BFE7;
  --bs-navbar-padding-x: 2rem;
}

@media (max-width: 280px) {
  .navbar {
    --bs-navbar-brand-margin-end: 0rem;
  }
  .navbar-brand {
    margin: 0 auto;
  }
  .navbar-toggler {
    margin: 0 auto;
  }
}
@media (max-width: 414px) {
  .navbar {
    --bs-navbar-brand-margin-end: 0rem;
  }
  .navbar-brand {
    margin: 0 auto;
  }
  .navbar-toggler {
    margin: 0 auto;
  }
  .row {
    margin-top: 35%;
  }
}
@media (max-width: 575px) {
  .plyr {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (max-width: 379px) {
  .col-md-6 {
    margin: 0 auto;
  }
  span {
    text-align: center;
  }
  .logo_footer {
    display: none;
  }
}
@media (width: 280px) {
  .row {
    margin-top: 80%;
  }
  .btn {
    margin-bottom: 25%;
  }
  main > .container-fluid {
    padding: 107px 0px 0;
  }
  .rowfaq {
    margin-top: 65%;
  }
}
@media (min-width: 820px) {
  .cover-container {
    max-width: 42rem;
  }
}
@media (max-width: 819px) {
  .cover-container {
    padding-right: 15%;
    padding-left: 15%;
  }
}
@media (width: 540px) {
  .row {
    margin-top: 30%;
  }
  .btn {
    margin-top: 15%;
  }
  .rowfaq {
    margin-top: 35%;
  }
}
@media (width: 375px) {
  .row {
    margin-top: 40%;
  }
  .btn {
    margin-bottom: 15%;
  }
  .rowfaq {
    margin-top: 35%;
  }
}
@media (width: 360px) {
  .rowfaq {
    margin-top: 35%;
  }
}
@media (width: 390px) {
  .rowfaq {
    margin-top: 20%;
  }
}
@media (width: 393px) {
  .rowfaq {
    margin-top: 20%;
  }
}
@media (width: 360px) {
  .row {
    margin-top: 40%;
  }
  .btn {
    margin-bottom: 15%;
  }
}
@media (min-width: 1024px) {
  .row {
    margin-top: 15%;
  }
  .btn {
    margin-bottom: 15%;
  }
  .rowfaq {
    margin-top: 15%;
  }
}
.bi {
  font-size: 24px;
}

:root {
  --bs-body-bg: #FFF5E9;
  --bs-light-rgb: 207, 238, 249;
}

main > .container-fluid {
  padding: 67px 0px 0;
}

.container-fluid {
  --bs-gutter-x: 0rem;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.img-thumbnail {
  border: none;
}

.card-header {
  color: #33BFE7;
  background-color: rgb(255, 249, 196);
}

.btn-outline-primary {
  --bs-btn-hover-bg: variables.$color_rosa;
  --bs-btn-hover-border-color: variables.$color_celeste_claro;
  --bs-btn-color: variables.$color_rosa;
  --bs-btn-border-color: variables.$color_celeste_claro;
}

.btn-primary {
  --bs-btn-color: variables.$color_blanco;
  --bs-btn-bg: variables.$color_celeste;
  --bs-btn-hover-bg: #FFBB58;
  --bs-btn-border-color: variables.$color_celeste_claro;
  --bs-btn-hover-border-color: #FFDAA5;
}

.color-blanco {
  background-color: white;
}

.navbar-toggler {
  background-color: white;
  border: var(--bs-border-width) solid #99DFF3;
}

.container-fluid .color-blanco {
  margin-top: auto;
}

.rowfaq {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

/*# sourceMappingURL=estilos.css.map */
